a.ppage1 {
  display:block;
  width:50%;
  height:20px;
  border:solid 1px #FFFFFF;
  background-color:#CCCCCC;
  position:fixed;
  left:0px;
}
a.ppage2 {
  display:block;
  width:50%;
  height:20px;
  border:solid 1px #FFFFFF;
  background-color:#CCCCCC;
  position:fixed;
  right:0px;
}
