@media screen and (max-width: 500px){
p.large{
  font-family: verdana;
  font-size: 10pt;
  color: #313131;
  }
p.normal{
  font-family: verdana;
  font-size: 8pt;
  color: #000000;
  }
p.small{
  font-family: verdana;
  font-size: 7pt;
  color: #000000;
}
}
